
.heading{
    width: 100%;
    text-align: left;
}


.heading h3
{
 display: inline;
}

.heading button {
    float: right;
    border: 1px solid white;
}

.on
{
    display: inline-block;
}

h4{
    background-color: white;
    line-height: 2;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.modal-dialog
{
    width: 70%;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.line
{
    margin:1px;
    border: 1px solid black;
    
}

.list
{
    border: 2px dotted black;
}

canvas{
    border-color: white;
}